// *****************************
// FONTS
// *****************************
$textFontFamily: 'Roboto', sans-serif;
$headerFontFamily: 'Sansita Swashed', cursive;

// *****************************
// 
// *****************************

$headerColor: #fff;