// *****************************
// FONTS
// *****************************
$textFontFamily: 'Roboto', sans-serif;
$headerFontFamily: 'Sansita Swashed', cursive;

// *****************************
// COLORS
// *****************************

$headerColor: #fff;
$mainInfoTextColor: #fff;
$mainInfoBgColor: rgba(0, 0, 0, 0.3);