.bg {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.weather {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        margin: 0 0 20px 0;
        font-size: 60px;
        color: $headerColor;

        @media (max-width: 600px) {
            @include fluid-type-container (42px, 60px)
        }
    }

    .weatherForm {
        max-width: 500px;
        width: 100%;

        @media (max-width: 600px) {
            max-width: 90%;
            margin: 0 10px;
        }

        .city {
            display: block;
            padding: 10px 20px;
            width: 100%;
            text-align: center;
            font-weight: 500;
            outline: none;
            border-radius: 5px;
            border: none;
        }
    }
    .loader {
        display: none;
    }
    .apiData {
        .mainInfo {
            display: flex;
            align-items: center;
            background-color: $mainInfoBgColor;
            padding: 30px;
            color: $mainInfoTextColor;
            border-radius: 10px;

            .degrees {
                display: flex;
                font-size: 40px;
                margin: 0 20px;

                span {
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
            .info {
                p {
                    margin: 0 0 4px 0;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
        .days {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $mainInfoBgColor;
            padding: 30px;
            color: $mainInfoTextColor;
            border-radius: 10px;
            margin: 10px 0 0 0;
            text-align: center;
        }

        @media (max-width: 600px) {
            .mainInfo {
                margin: 0 10px;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;

                span {
                    font-size: 10px;
                }
            }
            .days {
                flex-direction: column;
                padding: 10px;
                margin: 10px 10px;
            }
        }

        .error {
            background-color: rgb(216, 25, 25);
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }
    }
}